<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>상품380 COPY PAGE</title> 
        
        <link rel="stylesheet" href="/css/bootstrap.min.css"> 
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/jquery-typeahead/dist/jquery.typeahead.min.css" rel="stylesheet">
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="/stylesheets/prd360.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <nav class="navbar navebar-expand-md">
                <span>
                    <img src="/images/logo.png" style="height: 60px"/>
                    <span style="font-weight: bold; font-size:12px; color:grey">
                        v1.1.1
                    </span>
                </span>
                <span class="ml-4">
                    <a href="#" onclick="showPopup();" style="font-weight: normal; font-size:12px; color:red; text-decoration:underline;">배포버젼</a>
                </span>
            </nav>

        </div>
        <div class="row">

        </div>


        <!-- script files upload-->
        <script src="/js/jquery.min.js"></script> 
        <script src="/js/bootstrap.min.js"></script>
    
    </body>
</html>
